
/* Profile */

.profile {
    height: 100vh;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    top: 0%;
    position: absolute;
    background-color: white;
    color: black;
}

.profile > h1 {
    padding: 1.3rem;
    width: 100%;
    font-size: 1.3rem;
    text-align: left;
    margin-top: 1rem;
    padding-bottom: 1rem;
}

.profile__details {
    display: flex;
    gap: 2rem;
    padding: 2rem 1.5rem;
    background-color: #d9dbdd75;
}

.profile__details > img {
    border-radius: 50%;
    object-fit: cover;
}

.userData {
    line-height: 1.3;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
.userData > h2 {
    font-size: 1.2rem;
    font-weight: 700;
}
.userData > h3 {
    font-size: 0.9rem;
    font-weight: 500;
}

.profile > p {
    padding: 0 1.8rem;
    width: 100%;
    font-size: 1rem;
    text-align: justify;
    padding-bottom: 3rem;
    background-color: #d9dbdd75;
    border-bottom: 2px dashed #93939381;
}

.dashed {
    position: relative;
    top: 40%;
    border-bottom: 2px dashed #93939381;
}

